<div class="about__me">
  <p class="intro">I'm a 20 year old Fullstack developer that loves creating things on the web.</p>
  <p>I sometimes <a href="http://medium.com/@timibadass">blog</a> about new technologies I come across and real life situations I find myself..I like to think I'm a good writer.</p>
  <p>I majorly build web applications using  <span class="js_text">JavaScript</span>,you can think of me as one of those JavaScript cool kids, I love JavaScript.</p>
  <p>I build SPAs like this one using Angular 5 and my HTML,CSS and JavaScript are above average.I also build Back end REST APIs using Nodejs.</p>
  <p>I suck at design so I don't try to.Believe me..I've tried.</p>
</div>
<div class="contact">
  <p>You can keep up with me on <a href="http://twitter.com/timipapi">twitter</a> and on <a href="http://medium.com/@timibadass">Medium.</a> You want me to work on your project? send a <a href="mailto:omoyenitimi@gmail.com">mail</a> and I'd be sure to reply.</p>
</div>