<div class="talks_teaching">
    <p>I also talk and teach code.</p>
    <div class="teaching">
        <h4> TEACHING</h4>
        <div class="talks">
                <div class="talk">
                    <h5>Introduction to Front end Development- FUNAAB Code Camp 2018</h5>
                    <p>I was invited to  teach the basics of front end development in a code camp in school. I taught a class of 20 newbies the basics of front end development. The class lasted for five days and I got the chance to re-learn old things and new things from my students. Check out the slides <a href="https://speakerdeck.com/timibadass/introduction-to-front-end-development">here</a>.</p>
                </div>
            </div>
    </div>
</div>