<div class="about">
  <p>Simple,quiet guy.</p>
  <p>I like to think of different ways to solve problems.</p>
  <p>I'm a Barcelona fan and I also love my country's football team.I love to play FIFA whenever I'm not writing code,I'm no FIFA god but I try and there's a good chance anyone would beat me.I also play a bit of volleyball to keep fit every now and then.</p>
  <p>Other than games and sports,I sometimes write about life issues and things I learn during my journey as a Developer.</p>
  <p>I listen to music a lot and Hip Hop is my favorite genre..it often makes me feel good.</p>
  <p>I also like gadgets...<a href="https://m.youtube.com/mkbhd">MKBHD</a> and <a href="https://m.youtube.com/unboxtherapy">UnBox Therapy</a> are two of my favorite channels on youtube,If you ever want to send me a gift you can never go wrong with their reviews and recommendations.</p>
</div>