<div class="work">
  <div class="stack">
    <div class="individual_work">
      <h5>Events App</h5>
      <p>I built the front end of this application using Angular,it was the first application I built after learning Angular..it helped me understand the concepts of Angular such as Observables and data binding better.</p>
      <div class='individual_work__image'>
          <a href="http://gokada-events.herokuapp.com">
            <img src="assets/images/events-app.png" alt="Events app">
          </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>Art of Ajet</h5>
      <p>This site was built using HTML, CSS & JavaScript.It is a fully responsive website with animations and CSS transitions which I controlled using JavaScript.It was my first time using CSS animations and I learnt a lot from it.</p>
      <div class="individual_work__image">
        <a href="http://ajet.bitballoon.com">
          <img src="assets/images/ajet.png" alt="Ajet">
        </a>
      </div>
    </div>
    <div class='individual_work'>
      <h5>Resource center</h5>
      <p>This project was built for the Andela Learning Community's intermediate assessment,I was opportuned to be one of the participants,I've finished it now!.I wrote the front end of this project using HTML,CSS & jQuery and the back end using Nodejs.It was fun and tasking working under the pressure of time.</p>
      <div class="individual_work__image">
        <a href="https://student-to.herokuapp.com">
          <img src="assets/images/resource.png" alt="Resource center">
        </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>Jumoke Thomas</h5>
      <p>I Built this site using HTML,CSS and jQuery,it was my first ever real life project and I'm proud of how it shaped up.I learnt a lot on media queries and how to use them the right way to make responsive websites.</p>
      <div class="individual_work__image">
        <a href="https://jumokethomas.com">
          <img src="assets/images/jt.png" alt="Jumoke Thomas">
        </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>Personal Website</h5>
      <p>I built this site after seeing how <a href="https://timiajiboye.com">this</a> site and <a href="https://opemipo.com">this</a> site didn't need to refresh the browser to fetch a new page.It was a rough way but I was able to use my CSS and jQuery to pull it off and it helped me understand css transitions and Off Canvas technique.</p>
      <div class="individual_work__image">
        <a href="https://timibadass.github.io">
          <img src="assets/images/tb.png" alt="Timi Badass">
        </a>
      </div>
    </div>
  </div>
  <p>You can check my <a href='https://github.com/@timibadass'>Github</a> for more projects.</p>
</div>