<div class="work">
  <div class="stack">
    <div class="individual_work">
      <h5>Ajuwaya Learn</h5>
      <p>I built the front end of this application using Vue,it was the first Real application I built after learning Vue..it helped me understand Vuex, Events, computed properties and all the bscis of Vue including Lifecycle hooks. Ajuwaya Learn is an online learning platform based in Lagos, Nigeria</p>
      <div class='individual_work__image'>
          <a href="http://ajuwayaa-learn.herokuapp.com">
            <img src="assets/images/ajuwaya.png" alt="Ajuwaya Learn">
          </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>DSC FUNAAB</h5>
      <p>I was responsible for the front end of the website for the DSC chapter in my school,it was my first time working actively with a team and with figma.I enjoyed working on this project because I got to learn about collaboration better.</p>
      <div class="individual_work__image">
        <a href="https://dscfunaab.club">
          <img src="assets/images/DSC.png" alt="DSC FUNAAB">
        </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>Art of Ajet</h5>
      <p>This site was built using HTML, CSS & JavaScript.It is a fully responsive website with animations and CSS transitions which I controlled using JavaScript.It was my first time using CSS animations and I learnt a lot from it.</p>
      <div class="individual_work__image">
        <a href="http://project-ajet.bitballoon.com">
          <img src="assets/images/ajet.png" alt="Ajet">
        </a>
      </div>
    </div>
    <div class='individual_work'>
      <h5>Jumoke Thomas</h5>
      <p>This was my first ever project for a client,It was built with HTML,CSS from scratch and jQuery.I took me about three weeks to complete this project.</p>
      <div class="individual_work__image">
        <a href="https://student-to.herokuapp.com">
          <img src="assets/images/jt.png" alt="Jumoke Thomas">
        </a>
      </div>
    </div>
    <div class="individual_work">
      <h5>Personal Website</h5>
      <p>I built this site after seeing how <a href="https://timiajiboye.com">this</a> site and <a href="https://opemipo.com">this</a> site didn't need to refresh the browser to fetch a new page.It was a rough way but I was able to use my CSS and jQuery to pull it off and it helped me understand css transitions and Off Canvas technique.</p>
      <div class="individual_work__image">
        <a href="https://timibadass.github.io">
          <img src="assets/images/tb.png" alt="Timi Badass">
        </a>
      </div>
    </div>
  </div>
  <p>You can check my <a href='https://github.com/timibadass'>Github</a> for more projects.</p>
</div>